<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a2e0abe-889c-4592-9c68-1d454d6ff401/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/JDTvMazeApi</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jdtvmazeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>292b43db-ca7c-465f-ac74-a18ffddbc7d3</ProjectGuid>
    <MSDeployServiceURL>jdtvmazeapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JDTvMazeApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>Dependiente de marco de trabajo</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA+yo9aZsZ3Uu+zqGrcXwx6gAAAAACAAAAAAAQZgAAAAEAACAAAAA8/NkEcPwsUWiIt5i8hjAdsbK5/XCp5Z3uGY1UUO6p7QAAAAAOgAAAAAIAACAAAAAkIQ/NJgZXFysCdMpKzELmtKtP2Gwj7FDDUP4CWQPtDiAAAACK1mfvKAfoEDdYZ5AcCntlIC0Z0xSoXTMAjqzpNHEm70AAAABdtycL9CcC/MA/YXdB06BUSJ/FVOL7HTQkdsFAKWr/rgG6pU286xWlv1o3ET54j29lIFeBZHqSHp0/Uk6oFikM</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>